---
layout: navbar.njk
---

<section class="text-section text-section--full">
  <h1 class="text-section-title">Rejoindre en tant qu'auteur</h1>
</section>

<section class="text-section text-section--full">
  <h2 class="text-section-title">Ce que nous offrons aux auteurs</h2>
  <p class="text-section-body">
    À terme, plusieurs aides seront offertes aux auteurs membre de la structure tel que la possibilité de publier sur une plateforme de publication avec bien moins de concurrence, la délégation d’une partie du travail de communication sur les oeuvres à la Scribellates et ce de manière gratuite, de l’accompagnement à la rédaction de leurs œuvres, une aide à la réalisation de couvertures.
  </p>
  <h2 class="text-section-title">Qu'en est-il des droits ?</h2>
  <p class="text-section-body">
    l’idée reste de laisser l’auteur maître de ses œuvres, seul les droits d’exploitation seront demandés pour pouvoir publier le ou les oeuvres de l’auteur sur le site ainsi que pour réaliser leur promotion en toute légalité. De ce fait, en AUCUN CAS nous interviendrons auprès des auteurs ou influencerons ces derniers dans leur démarche artistique, et ceux-ci auront le droit de quitter la structure ou de retirer leurs oeuvres comme bon leur semble.
  </p>
</section>

<section class="text-section text-section--full">
  <h2 class="text-section-title">Si tu as déjà publier des oeuvres</h2>
  <p class="text-section-body">
    Ton dossier de candidature doit comporter les éléments suivants :
    <ul>
      <li>Une présentation de toi et de ton parcours d’auteur</li>
      <li>Une présentation de tes œuvres déjà publiées (si tu en as)</li>
      <li>Un lien vers une de tes œuvres (si tu en as publié une)</li>
    </ul>
  </p>
  <h2 class="text-section-title">Si tu n'as jamais publié d'oeuvre</h2>
    <p class="text-section-body">
      Ton dossier de candidature doit comporter les éléments suivants :
      <ul>
        <li>Une présentation de toi et de ton parcours d’auteur</li>
        <li>Une présentation de l’oeuvre avec un synopsis et ce que tu aimerais lui insuffler dans le futur</li>
        <li>Combien de temps comptes-tu prendre pour réaliser ton oeuvre ? (estimation)</li>
         <li>Un ou quelques chapitres de ton oeuvre (si tu en as déjà écrit une partie)</li>
      </ul>
    </p>
    <br>
    <p class="text-section-body">
      Ces informations sont à titre indicatif, tu n’es pas obligé de suivre ce format à la lettre, l’essentiel est que tu nous donnes une idée de qui tu es et de ce que tu souhaites faire. De plus, il est possible de nous envoyer un dossier de candidature même si tu n’as pas encore d’oeuvre d’écrite, l’essentiel est que tu nous expliques ce que tu souhaites faire et comment tu souhaites le faire.
</section>

<section class="text-section text-section--full">
  <h2 class="text-section-title">Où envoyer ton dossier</h2>
  <p class="text-section-body">
    Envoie ton dossier complet à l'adresse suivante :
    <a class="inline-link" href="mailto:scribellates@outlook.fr?subject=Candidature%20auteur">scribellates@outlook.fr</a>
    en précisant en objet "Candidature auteur".
  </p>
</section>
