---
layout: navbar.njk
---

<article class="mentions-legales">
  <h1 class="mentions-legales-title">{{ title }}</h1>
  <div class="mentions-legales-body">
    {{ content | safe }}
  </div>
</article>
