<section class="rejoindre-section two-cols">
  <div class="col rejoindre-col">
    <h2 class="col-title">Rejoindre en tant qu'auteur</h2>
    <p class="rejoindre-text">
      Vous êtes auteur ou voulez le devenir ? Vous avez des idées d'histoires à raconter et souhaitez les partager avec une communauté de lecteurs passionnés ? Rejoignez Scribellates en tant qu'auteur et faites découvrir vos œuvres à un public avide de nouvelles histoires.
    </p>
    <a class="btn" href="/rejoindre/auteurs/">En savoir plus</a>
  </div>

  <div class="col rejoindre-col">
    <h2 class="col-title">Rejoindre en tant que bénévole</h2>
    <p class="rejoindre-text">
      Vous êtes un passionné de la scène web novel francophone et voulez contribuer à son changement d'une quelconque manière ? Sachez que nous sommes toujours à la recherche de bénévoles pour nous aider dans différents domaines !
    </p>
    <a class="btn" href="/rejoindre/benevoles/">En savoir plus</a>
  </div>
</section>
