<section class="rejoindre-section two-cols">
  <div class="col rejoindre-col">
    <h2 class="col-title" style="text-align:center">Rejoindre en tant qu'auteur</h2>
    <p class="rejoindre-text">
      Vous êtes auteur ou voulez le devenir ? Vous avez des idées d'histoires à raconter et souhaitez les partager avec une communauté de lecteurs passionnés ? Rejoignez Scribellates en tant qu'auteur et faites découvrir vos œuvres à un public avide de nouvelles histoires.
    </p>
    <a class="btn" href="/rejoindre/auteurs/">En savoir plus</a>
  </div>

  <div class="col rejoindre-col">
    <h2 class="col-title" style="text-align:center">Rejoindre en tant que bénévole</h2>
    <p class="rejoindre-text">
      Vous êtes passionné par la scène web novel francophone et souhaitez contribuer à son évolution, quelle que soit votre expérience ? Nous recherchons régulièrement des bénévoles motivés pour nous aider dans différents domaines et participer activement au développement de Scribellates.
    </p>
    <a class="btn" href="/rejoindre/benevoles/">En savoir plus</a>
  </div>
</section>
