<nav>
  <a href="/" class="nav-logo">
    <img src="/images/logo_couleur_texte_inverse.png" alt="Scribellates logo" />
  </a>

  <ul class="nav-links">
    <li><a href="/oeuvres/">Oeuvres</a></li>
    <li><a href="/a-propos/">Auteurs</a></li>
    <li><a href="/portfolio/">Actualités</a></li>
    <li><a href="/contact/">Nous rejoindre</a></li>
  </ul>
</nav>
